# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
*.egg-info/
dist/
build/
.ruff_cache/
.pytest_cache/

# Node
node_modules/
.pnpm-store/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store

# Entornos
.env
.env.local

# Git
.git/
.gitignore

# Misc
*.log
.gga
*.yaml
!examples/*.yaml

# Allow CLI source
!cli/src/devflow/
