# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.ruff_cache/

# Node
node_modules/
.pnpm-store/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store

# Entornos
.env
.env.local

# Docker
*.db

# Misc
*.log
.gga
.atl/
